:root {
  --pal-primary: royalblue;
}

* {
  box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

.fixed-medicines-header {
  padding: 100px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url(assets/BlueIconsBlueBackgroundSpread.png);
}

.fixed-medicines-header h1 {
  font-size: 4.1rem;
  color: white;
}

.fixed-medicines-header a {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--pal-primary);
}

  .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
  }

  .department-info h2 {
    color: #2d4b6e;
    font-size: 4.1rem;
  }

  .medicine-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    transition: transform 0.2s ease-in-out;
  }

  .medicine-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .medicine-card h2 {
    margin-top: 15px;
  }

  .medicine-card p {
    color: #666;
    font-size: 14px;
  }

  .button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #4cae4c;
  }

.medicine-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow:0 2px 12px #e4e8eb;
}

.medicine-container {
  color: #2d4b6e;
}

.medicine-container h3 {
  font-size: 1.7rem;
}

.medicine-container p {
  font-size: 1.2rem;
}

.medicine-container b {
  color: var(--pal-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', Arial, sans-serif !important;
}